extends layout 
 
block content 
  h1= title 
  - let id = toShow._id 
  - let name = toShow.name 
  - let type = toShow.type 
  - let price = toShow.price 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{id} 
  - let actionid = "/resource/beers/" + id 
  form(id='BeerForm', action= actionid, method="PUT") 
    div.form-group 
        label.beerAttr(for='name') Beer name 
        input#name(type='text', name='name', value= name ) 
    div.form-group 
        label.beerAttr(for='type') Beer type 
        input#type(type='text', name='type', value= type ) 
    div.form-group 
        label.beerAttr(for='price') Beer price 
        input#price(type='number', name='price', value= price) 
    input(type="submit") 
 
  script. 
    document.forms['BeerForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) 
      }).then((resp) => { 
        return resp.text(); 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 