extends layout 
 
block content 
  h1= title 
 
  form(id='BeerForm', action="/resource/beer", method="POST") 
    div.form-group 
        label.beerAttr(for='name') Beer name
        input#name(type='text', name='name') 
    div.form-group 
        label.beerAttr(for='type') Beer type 
        input#type(type='text', name='type') 
    div.form-group 
        label.beerAttr(for='price') Beer price 
        input#price(type='number', name='price') 
    input(type="submit") 
 
  script. 
    document.forms['BeerForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 